/*
Theme Name: FFU: WP-theme - light
Description: A light theme for the WP servers. Just a few useful templates. A lot of hard-coded things.
Author: Bellfalasch
Author URI: https://guide.ffuniverse.nu/
Version: 1.2
*/

/* General elements and styling */
body, html {
  padding: 0;
  margin: 0;
  overflow-x: hidden; /* Fix for mobile TopNav off-screen rendering */
  background-color: #f1f3f5;
}
.theme-light-content {
  background-image: linear-gradient(to bottom, #c9ced7 0px, hsla(217, 15%, 72%, 0.55) 1px, #f1f3f5 180px);
}
.theme-light-content a {
  text-decoration: none;
}
.theme-light-content a:hover,
.theme-light-content a:active {
  text-decoration: underline;
}
.theme-light-content p a,
.theme-light-content li a {
  color: #ea218e;
}
.theme-light-content h1,
.theme-light-content h2 {
  text-align: center;
}
.theme-light-content h2 {
  border-bottom: 1px solid #ddd;
  padding-bottom: 1rem;
  font-family: 'Roboto Slab', serif;
}
.theme-light-content h3 {
  border-bottom: 1px solid #ddd;
  font-weight: 400;
  padding-bottom: 0.2rem;
}
.theme-light-content h1 small,
.theme-light-content h2 small,
.theme-light-content h3 small {
  display: block;
  color: #888;
  font-weight: 100;
  font-family: "Lato", Helvetica, sans-serif;
}
.theme-light-content ol,
.theme-light-content ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.theme-light-content li {
  font-weight: 200;
}
.theme-light-content .centered {
  text-align: center;
}

/* Shared elements */
.theme-light-content .game-logo {
	transition: background 400ms linear;
}
.theme-light-content .game-logo .logo-anchor {
	display: block;
}
.theme-light-content .game-logo:hover,
.theme-light-content .game-logo:active {
  background: radial-gradient(rgba(125,160,195,1) 0%, rgba(125,160,195,.0) 70%);
}
.theme-light-content .blockLinkButton {
	background-color: #407ac2;
	border-radius: 18px;
	padding: 3px 10px;
	color: #fff;
	font-weight: normal;
	text-decoration: none;
	display: inline-block;
	transition: transform 400ms linear;
	font-size: 13pt;
}
.theme-light-content .blockLinkButton:hover {
	transform: translateX(6px);
}
.theme-light-content .badge-purple {
  background-color: #916fbd;
  margin-bottom: 0;
  padding-bottom: 0;
  border-radius: 18px;
  padding: 3px 10px;
  color: #fff;
  font-weight: normal;
  display: inline-block;
}
.theme-light-content .category-badge {
	margin-top: 0.7rem;
	margin-bottom: 0;
	padding-bottom: 0;
	background-color: hsla(327, 83%, 52%, 0.5);
	border-radius: 18px;
	padding: 5px 10px;
	color: #fff;
	font-weight: normal;
	display: inline-block;
    font-size: .875rem;
}
	.theme-light-content .category-badge a {
		color: #fff;
	}

/* Template - Game logos */
.theme-light-content .game-logos .flex-me {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.theme-light-content .game-logos .flex-item {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.theme-light-content .game-logos ol {
  margin: 0 0 5rem 0;
}
.theme-light-content .game-logos ol li {
  text-align: center;
  align-items: flex-end;
  padding-bottom: 2rem;
  justify-content: center;
}
.theme-light-content .game-logos ol li a {
  display: block;
}
.theme-light-content .game-logos li .no-anchor {
  opacity: 0.25;
  display: block;
  cursor: default;
}
	.theme-light-content .game-logos ol li .category-badge {
		opacity: 0;
		margin-right: -13px;
		margin-top: -20px;
		transition: all 400ms linear;
	}
	.theme-light-content .game-logos ol li:hover .category-badge {
		opacity: 1;
		margin-right: 0;
	}
	.theme-light-content .game-logos ol li:hover .no-anchor .category-badge {
		cursor: default;
	}

/* ****************** */
/* TEMPLATE - updates */
/* ****************** */
.theme-light-content .updates .game-name {
	font-family: 'Roboto Slab', serif;
	padding-bottom: 0;
}
.theme-light-content .updates .blockRSSButton {
	background-color: #f60;
    border-radius: 10px;
    padding: 3px 10px;
	color: white;
	font-size: 9pt;
	margin-left: 30px;
    font-weight: normal;
	float: right;
}
.theme-light-content .updates .game-information {
	text-align: center;
}
.theme-light-content .updates .game-information h2 {
	border: none;
}
.theme-light-content .updates .update {
  background-color: white;
  padding: 3px 16px;
  box-shadow: 0 0 4px 0 hsla(1,1%,1%,0.15);
  transition: all 400ms linear;
  margin-bottom: 1.35rem;
}
	.theme-light-content .updates .update .category-badge {
		opacity: 0.5;
		transition: all 400ms linear;
	}
  .theme-light-content .updates .update h3 {
    margin-top: 0.4rem;
    margin-bottom: 0;
    padding-bottom: 0;
    border: none;
  }
  .theme-light-content .updates .update .timestamp {
    margin: 0;
  }
    .theme-light-content .updates .update .timestamp time {
      font-weight: 800;
      font-size: 0.8rem;
      color: #a489c7;
      transition: all 400ms linear;
    }
    .theme-light-content .updates .update .timestamp time small {
      color: hsla(266, 76%, 81%);
      font-weight: 400;
      opacity: 0.1;
      transition: all 400ms linear;
    }
  .theme-light-content .updates .update p {
    font-size: 1rem;
    font-weight: 200;
    line-height: 1.5;
  }
  .theme-light-content .updates .update:hover {
    box-shadow: 0 0 5px 0 hsla(1,1%,1%,0.65);
    transform: translateX(4px) translateY(-4px);
  }
    .theme-light-content .updates .update:hover h6 {
      opacity: 1;
    }
    .theme-light-content .updates .update:hover p {
      color: black;
    }
    .theme-light-content .updates .update:hover .timestamp time {
      color: #916fbd;
    }
    .theme-light-content .updates .update:hover .timestamp time small {
      color: hsl(266, 76%, 81%);
      opacity: 1;
    }
    .theme-light-content .updates .update .game-logo {
      float: right;
    }
    .theme-light-content .updates .update .game-logo:hover {
      background-image: none;
    }
    @media screen and (max-width: 500px) {
      .theme-light-content .updates .update .game-logo {
        float: none;
        text-align: center;
      }
      .theme-light-content .updates .update h6 {
        display: block;
      }
    }

/* ******************** */
/* TEMPLATE - Community */
/* ******************** */
.theme-light-content main.community {
	background: black url('./assets/images/game_over.jpg') no-repeat center center;
	background-size: cover;
	min-height: 100vh;
}
	.theme-light-content main.community p,
	.theme-light-content main.community h1,
	.theme-light-content main.community p strong {
		color: white;
		text-shadow: 1px 1px 1px black;
		background-color: hsla(1,1%,1%,0.5);
	}
	.theme-light-content main.community a {
		color:#ea218e;
	}

/* ****************** */
/* TEMPLATE - 404     */
/* ****************** */
  .theme-light-content .not-found .secondary-message {
    margin-bottom:0;
	padding-bottom:14px;
	font-size:10pt;
	color:gray;
	font-style:italic;
  }
  .theme-light-content .not-found .message-sink {
	background-color: white;
	padding: 16px;
	color: #666;
	line-height: 160%;
	margin-top: 20px;
  }
  .theme-light-content .not-found .weak {
    color:#999;
  }
  .theme-light-content .not-found ul li {
    line-height: 2.2;
	list-style-type: disc;
	margin-left: 1em;
  }


/* ****************** */
/* TEMPLATE - Root     */
/* ****************** */
.theme-light-content .ffu-root {
  background-image: linear-gradient(to bottom, #c9ced7 0px, hsla(217, 15%, 72%, 0.55) 1px, #f1f3f5 180px);
}
	.theme-light-content .ffu-root h1 {
	  text-align: center;
	}
	.theme-light-content .ffu-root h2 {
		font-size: 2.4rem;
    	font-weight: 400;
	}
	.theme-light-content .ffu-root small {
	  display: block;
	  color: #888;
	  font-weight: 100;
	}
	.theme-light-content .ffu-root a {
	  text-decoration: none;
	}
	.theme-light-content .ffu-root a:hover,
	.theme-light-content .ffu-root a:active {
	  text-decoration: underline;
	}
	.theme-light-content .ffu-root span.hidden-sm {
        display: inline;
    }
	.theme-light-content .ffu-root .flex-me {
	  display: -webkit-flex;
	  display: -ms-flexbox;
	  display: flex;
	  -webkit-flex-wrap: wrap;
	  -ms-flex-wrap: wrap;
	  flex-wrap: wrap;
	}
	.theme-light-content .ffu-root .flex-item {
	  display: -webkit-flex;
	  display: -ms-flexbox;
	  display: flex;
	}
	.theme-light-content .ffu-root ol,
	.theme-light-content .ffu-root ul {
	  list-style-type: none;
	  padding: 0;
	  margin: 0;
	}
	.theme-light-content .ffu-root footer ul li {
	  text-align: center;
	  align-items: flex-end;
	  justify-content: center;
	}
	.theme-light-content .ffu-root .main-sites li a {
	  background-color: #adb5c2;
	  color: white;
	  border-radius: 4px;
	  padding: 2px 8px;
	}
	.theme-light-content .ffu-root .additional-info {
	  margin-top: 2rem;
	}
	.theme-light-content .ffu-root .additional-info li a {
	  color: #adb5c2;
	}
	.theme-light-content .ffu-root footer p a {
	  color: #ea218e;
	}

	.theme-light-content .ffu-root .center {
		text-align: center;
	}

	/* Generic banners */
	.theme-light-content .ffu-root .banner {
		padding: 2rem;
	}
	.theme-light-content .ffu-root .banner,
	.theme-light-content .ffu-root .banner .bg {
		background-repeat: no-repeat;
		background-size: cover;
	}
		.theme-light-content .ffu-root .banner p,
		.theme-light-content .ffu-root .banner h2,
		.theme-light-content .ffu-root .banner h3 {
			font-family: Lato, Helvetica, sans-serif;
			background-color: hsla(0, 0%, 100%, 0.9);
			display: inline-block;
			padding: 0 8px;
			clear: both;
			margin: 0;
			border: none;
		}

	/* Primary boxes */
	.theme-light-content .ffu-root .container-full .banner {
		display: block;
		min-height: 350px;
	}
		.theme-light-content .ffu-root .container-full .banner .inner {
			max-width: 960px;
			margin: 0 auto;
			padding: 2rem;
		}
		.theme-light-content .ffu-root .banner.guides .bg,
		.theme-light-content .ffu-root .banner.news .bg,
		.theme-light-content .ffu-root .banner.guides .inner,
		.theme-light-content .ffu-root .banner.news .inner {
			position: absolute;
			top: 0px;
			right: 0px;
			bottom: 0px;
			left: 0px;
		}

    /* Guides */
	.theme-light-content .ffu-root .banner.guides {
		text-align: right;
		margin-bottom: 10px;
		position: relative;
	}
		.theme-light-content .ffu-root .banner.guides .bg {
			background-image: url("./assets/images/banner_guider_animated.gif");
            background-position: 0 80%;
            image-rendering: pixelated;
			transition: 
				box-shadow 300ms linear,
				filter 300ms linear;
		}
		.theme-light-content .ffu-root .banner.guides h2,
		.theme-light-content .ffu-root .banner.guides p {
			float: right;
		}
		.theme-light-content .ffu-root .banner.guides:hover .bg {
			filter: blur(3px);
    		box-shadow: inset 0 0 0 600px hsla(213, 33%, 44%, 0.6);
		}

    /* News */
	.theme-light-content .ffu-root .banner.news {
		position: relative;
	}
		.theme-light-content .ffu-root .banner.news .bg {
			background-image: url("./assets/images/banner_nyheter.jpg");
			background-position: center center;
			transition: 
				box-shadow 300ms linear,
				filter 300ms linear;
		}
		.theme-light-content .ffu-root .banner.news:hover .bg {
			filter: blur(3px);
    		box-shadow: inset 0 0 0 600px hsla(213, 33%, 44%, 0.6);
		}

	/* Secondary boxes (grid) */
	.theme-light-content .ffu-root .container-grid {
		max-width: 960px;
		margin: 10px auto;
		display: grid;
		grid-gap: 10px;
		grid-template-columns: 70% 30%;
		grid-template-rows: 50% 50%;
	}
		.theme-light-content .ffu-root .container-grid .banner {
			transition: background 400ms ease-out;
		}
			.theme-light-content .ffu-root .container-grid .banner:hover {
			    background-position-y: -400px;
			}
		.theme-light-content .ffu-root .container-grid .banner.community {
			grid-column: 1;
			grid-row: 1 / 3;
			background-color: rgba(83,56,171,1);
			background-image: linear-gradient(to bottom, rgba(178,84,255,1) 0%, rgba(83,56,171,1) 100%);
		}
		.theme-light-content .ffu-root .container-grid .banner.dev {
			grid-column: 2;
			grid-row: 1;
			background-color: rgba(33,128,36,1);
			background-image: linear-gradient(to bottom, rgba(84,255,118,1) 0%, rgba(33,128,36,1) 100%);
		}
		.theme-light-content .ffu-root .container-grid .banner.about {
			grid-column: 2;
			grid-row: 2;
			background-color: rgba(33,57,128,1);
			background-image: linear-gradient(to bottom, rgba(84,152,255,1) 0%, rgba(33,57,128,1) 100%);
		}

		@media screen and (max-width: 600px) {
            .theme-light-content .ffu-root span.hidden-sm {
                display: none;
            }
			.theme-light-content .ffu-root .container-grid {
				grid-template-columns: 100%;
				grid-template-rows: 34% 33% 33%;
			}
				.theme-light-content .ffu-root .container-grid .banner.community {
					grid-column: 1;
					grid-row: 1 / 2;
				}
				.theme-light-content .ffu-root .container-grid .banner.dev {
					grid-column: 1;
					grid-row: 2 / 3;
				}
				.theme-light-content .ffu-root .container-grid .banner.about {
					grid-column: 1;
					grid-row: 3 / 4;
                }
        }